.myModal {
  /* width: 50%; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0, 0.4);
  z-index: 3;
  /* opacity: 0; */
}
.myModalContent {
  margin-right: 25%;
  margin-left: 25%;
  margin: 0px 0px 0px 0px;
  padding: 25px 20px 25px 20px;
  background: #f5f3f1;
  border-radius: 16px;
  min-width: 250px;
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 1; */
}
