/*Обнуление*/
*,
*::before
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* a {
  text-decoration: none;
} */
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  height: 100%;
  line-height: 1;
  background: #f5f3f1;
  font-size: 14px;
  color: #566573;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.aboutPage {
  font-size: 30px;
  margin-top: 270px;
  font-variant: small-caps;
}
/*                    HEADER OF PROJECTS------------------------------------------------------------------------------- */
.header_1 {
  position: fixed;
  background-color: #f5f3f1;
  height: 15vh;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  z-index: 20;
  /* transform: translateZ(0);
  -webkit-transform: translateZ(0); */
  /* display: flex; */
}
.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}
.header_title {
  width: 70%;
  height: fit-content;
  font-size: 35px;
  margin-left: 2%;
  margin-top: 3vh;
  font-weight: 700;
  font-variant: small-caps;
}
.header__link {
  font-size: 35px;
  font-weight: 700;
  font-variant: small-caps;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: 3vh;
}
.header_of_projects {
  width: 70%;
  font-size: 2vw;
  display: flex;
  margin-left: 0%;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-variant: small-caps;
}
.header_project_id {
  width: 7%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.header_project_name {
  width: 13%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.header_project_description {
  width: 40%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
form {
  margin: 100px 20px 0px 20px;
  max-width: 70%;
  /* margin-left: 5px; */
  /* display: flex; */
  padding: 10px 15px;
  border: 2px solid #566573;
  align-items: center;
}
.createUpdDelBtn {
  text-decoration: none;
  color: #566573;
}
/* monitors and laptops */
@media (min-width: 1240px)  {}

/* tablet */
@media (min-width: 1024px) and (max-width: 1240px)  {
  .header_of_projects {
    font-size: 2.2vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {}

/*                    HEADER OF PROJECTS FOR MOBILE------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header_container {
    display: block;
    margin-left: 0;
  }
  .header__link {
    margin-left: 2%;
    margin-top: 0%;
  }
  .header_of_projects {
    display: none;
    /* width: 100%;
    font-size: 30px; */
  }
  .header_project_id {
    width: 10%;
    margin-left: 5%;
  }
  .header_project_name {
    width: 30%;
  }
  .header_project_description {
    width: auto;
  }
}
/*                    HEADER OF TASKS------------------------------------------------------------------------------- */
.header_2 {
  position: fixed;
  background-color: #f5f3f1;
  height: 20vh;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  z-index: 20;
  /* transform: translateZ(0);
  -webkit-transform: translateZ(0); */
}
.header_of_tasks {
  font-size: 24px;
  display: flex;
  margin-left: 1%;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-variant: small-caps;
}
.header_Queue {
  width: 33.33%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.header_Queue_mobile {
  display: none;
}
.header_Development {
  width: 33.33%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.header_Development_mobile {
  display: none;
}
.header_Done {
  width: 33.33%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 2%
}
.header_Done_mobile {
  display: none;
}
/*                    HEADER OF TASKS FOR MOBILE------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header_2 {
    height: 15vh;
  }
  .header_of_tasks {
    display: none;
  }
  .header_Queue {
    display: none;
  }
  .header_Queue_mobile {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
   }
  .header_Development {
    display: none;
  }
  .header_Development_mobile {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
  }
  .header_Done {
    display: none;
    width: 100%;
    margin-left: 5%;
  }
  .header_Done_mobile {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
  }
}
/*                    HEADER OF COMMENTS ------------------------------------------------------------------------------- */
.header_3 {
  position: fixed;
  background-color: #f5f3f1;
  height: 13vh;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  z-index: 20;
}
.header_of_comments {
  font-size: 24px;
  display: flex;
  margin-left: 1%;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-variant: small-caps;
}
/*                    MAIN-PROJECTS------------------------------------------------------------------------------- */
.project_container {
  width: 100%;
  margin: 0px 0px 0px 0px;
  box-sizing: content-box;
  padding-top: 17vh;
}
.project_container_1 {
  /* height: 5vh; */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-variant: small-caps;
  margin-bottom: 1%;
  margin-left: 2vw;
}
.project {
  width: 80%;
  display: flex;
  border: 2px solid #93999e;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-top: 1%;
  margin-left: 2vw;
  margin-right: 2%;
  align-items: center;
  font-weight: bold;
  font-variant: small-caps;
}
.project_id {
  width: 10%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.project_name {
  width: 20%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.project_description {
  width: 50%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.project_bts {
  width: 100%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
/*                    MAIN-PROJECTS FOR MOBILE------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .project_container {
    width: 100%;
    margin: 0px 0px 0px 0px;
    box-sizing: content-box;
    padding-top: 17vh;
    display: flex;
    flex-direction: column;
  }
  .project_container_1 {
    display: flex;
  }
  .project {
    width: 96%;
    flex-direction: column;
  }
  .project_id {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .project_name {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .project_description {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
/*                    MAIN-TASKS------------------------------------------------------------------------------- */
.container_main {
  padding-top: 22vh;
  margin-left: 1%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container_1 {
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  /* border: 2px solid red; */
}
.searchTask {
  display: flex;
  margin-top: 1%;
  /* margin-left: 1%; */
}
.MyInput1 {
  margin-left: 1%;
}
.MyInput2 {
  margin-left: 1%;
}
.MyInput3 {
  margin-left: 1%;
}
.task {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  border: 2px solid #93999e;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer;
}
.taskNumber {
  width: 10%;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 0px 0px 0px 0px;
}
.taskName {
  width: 85%;
  margin-bottom: 3%;
  padding: 0px 0px 0px 0px;
}
.blockInTask {
  width: 100%;
  margin-bottom: 2%;
}
.uploadUrl {
  max-width: 67%;
  margin-top: 0;
  margin-left: 10%;
  border: 2px solid #93999e;
}
/*                    MAIN-TASKS-FOR MOBILE------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .container_main {
    padding-top: 17vh;
  }
  .container {
    flex-direction: column;
    margin-top: 5%;
  }
  .container_1 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    /* margin-top: 0%; */
    /* border: 2px solid red; */
  }
  .searchTask {
    flex-direction: column;
  }
  .MyInput1 {
    margin-left: 0%;
  }
  .MyInput2 {
    margin-left: 0%;
  }
  .MyInput3 {
    margin-left: 0%;
  }
}
/*                    MAIN-COMMENTS------------------------------------------------------------------------------- */
.container_2 {
  margin: 0px 0px 40px 0px;
  justify-content: space-between;
  width: 100%;
  position: relative;
  /* margin-top: 10%; */
  padding-top: 16vh;
}
.comment {
  width: 96%;
  display: flex;
  border: 2px solid #93999e;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  font-weight: bold;
  font-variant: small-caps;
}
.commentNumber {
  width: 5%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.comment_comment {
  width: 70%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.comment_bts {
  width: 30%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
/*                    MAIN-COMMENTS-FOR MOBILE------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .comment {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    align-items: left;
    font-weight: bold;
    font-variant: small-caps;
  }
  .commentNumber {
    width: 100%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .comment_comment {
    width: 100%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .comment_bts {
    width: 100%;
    justify-content: left;
  }
}