* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f3f1;
  /* background-color: lightgray; */
  color: #566573;
}
#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 400;
}
.App {
  margin: 0px 0px 0px 0px;
}
.header {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: fixed;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  z-index: 2;
}
.aboutPage {
  font-size: 30px;
  margin-top: 270px;
  font-variant: small-caps;
}
.header_part1 {
  width: 100%;
  display: flex;
}
.header_title {
  width: 50%;
  height: fit-content;
  font-size: 35px;
  margin: 15px 0px 0px 70px;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-variant: small-caps;
}
.header__link {
  width: 50%;
  height: fit-content;
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 25px;
  font-weight: 700;
  font-variant: small-caps;
  margin-left: 30%;
  /* padding: 2px 15px; */
}
.header_of_tasks {
  width: 100%;
  font-size: 24px;
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-variant: small-caps;
}
.task_id {
  width: 10%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.task_projectName {
  width: 20%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.task_description {
  width: 40%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.container {
  width: 70%;
  /* margin: 0px 5px 0px 0px; */
  /* top: 22%; */
  margin-top: 10%;
  /* margin-left: 0.5%; */
  position: absolute;
}
.container4 {
  /* width: 100%; */
  position: absolute;
  margin-top: 10%;
  /* display: flex; */
}
.project {
  display: flex;
  border: 1px solid #566573;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-top: 5px;
  margin-left: 1%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-variant: small-caps;
}
.id {
  width: 11%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.projectName {
  width: 25%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.description {
  width: 35%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn1 {
  width: 8%;
}
.btn2 {
  width: 9%;
}
.container1 {
  width: 22%;
  top: 24%;
  left: 1%;
  /* margin: 240px 10px; */
  position: absolute;
  /* display: flex; */
}
.container2 {
  width: 22%;
  top: 24%;
  left: 34.33%;
  /* margin: 240px 400px; */
  position: absolute;
}
.container3 {
  width: 22%;
  top: 24%;
  left: 67.33%;
  /* margin: 240px 400px; */
  position: absolute;
}
.Queue {
  width: 33.33%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Development {
  width: 33.33%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Done {
  width: 33.33%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%
}
.task {
  display: flex;
  padding: 26px;
  border: 1px solid #566573;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-variant: small-caps;
}
.taskName {
  width: 70%;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
