.myBtn {
  padding: 5px 15px;
  color: #566573;
  font-size: 14px;
  background: transparent;
  /* border: 2px solid #566573; */
  border: 2px solid #93999e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: auto; */
  /* font-family: Comic Sans MS, Comic Sans, fantasy; */
}

.myBtn:focus {
  outline: none;
}

@media (min-width: 769px) and (max-width: 1240px)  {
  .myBtn {
    padding: 5px;
  }
}
