.myInput {
  padding: 5px 15px;
  border: 2px solid #93999e;
}
.myInput:focus {
  outline: none !important;
  border: 2px solid #566573;
}
.myInput:hover {
  outline: none !important;
  border: 2px solid #566573;
}
@media (max-width: 768px) {
  .myInput {
    /* width: 100%; */
  }
}
/* input[type="date"] {
	min-height: 17px;
} */
/* Change shape of icon */
input::-webkit-calendar-picker-indicator {
  background-image: url('../../../assets/calendar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  margin-top: 1px;
}
input[type="date"]::-moz-calendar-picker-indicator {
  background-image: url('../../../assets/calendar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  margin-top: 1px;
}