.myInput {
  padding: 5px 15px;
  border: 2px solid #93999e;
}
.myInput:focus {
  outline: none !important;
  border: 2px solid #566573;
}
@media (max-width: 768px) {
  .myInput {
    width: 90%;
  }
}